<div class="section encumbrance {{system.creatureType}} flexcol">
    <div class="section-header">
        <div class="section-title">{{localize 'MYZ.ENCUMBRANCE'}}</div>
    </div>
    <div class="section-row light-bg section-encumbrance {{system.isEncumbered}}">
        <label><strong>{{system.itemsWeight}}</strong></label>
        <span>&nbsp;/&nbsp;</span>
        <label><strong>{{system.encumbranceMax}}</strong></label>
    </div>
</div>