<div class="section skills {{system.creatureType}} flexcol">
    <div class="section-header section-title">
        {{localize (toUpperCase (concat 'MYZ.SKILLS_LABEL_' system.creatureType))}}
    </div>
    <ol class="item-list">
        {{#each skills as |skill index|}}
            <li class="editable-item section-row flexrow" data-item-id="{{skill._id}}" data-coreSkill="{{skill.system.coreSkill}}">
                <div class="viewable">
                    {{#ifCond skill.system.skillKey '!==' ''}}
                        <a class="roll-skill rollable section-name" data-item-id="{{skill._id}}">{{localize (concat "MYZ.SKILL_" skill.system.skillKey)}}</a>
                    {{/ifCond}}
                    {{#ifCond skill.system.skillKey '===' ''}}
                        <a class="roll-skill rollable section-name" data-item-id="{{skill._id}}">{{skill.name}}</a>
                    {{/ifCond}}
                    <span class="fs-06">({{localize (createLocalizationString "MYZ.ATTRIBUTE" skill.system.attribute ../system.creatureType)}})</span>
                </div>
                <input class="section-value" type="number" data-item-id="{{skill._id}}" value="{{skill.system.value}}">
            </li>
        {{/each}}
        {{#each (range skills.length 17)}}
            <li class="section-row flexrow light-bg"></li>
        {{/each}}
    </ol>
</div>